Repository KinsonDigital/CICD, pull requests merged in 2023-03, with the labels that each got.

#165 🚧Update twitter link
  README.md
Labels: medium priority, preview, 📝documentation/product

#171 🚧Add ability to skip nuget checks
  .nuke/build.schema.json
  .nuke/parameters.json
  .run/PrevRelease - PreviewReleasePRStatusCheck.run.xml
  CICD/CICD.Requirements.cs
  CICD/CICD.cs
  CICD/CICD.csproj
  CICD/ExtensionMethods.cs
Labels: high priority, preview, ✨new feature, 🧨breaking changes

#167 🚧Set up dependabot
  .github/dependabot.yml
  CICD.sln
Labels: medium priority, preview, ♻️cicd

#186 🚀Preview Release
  .editorconfig
  .github/dependabot.yml
  .github/workflows/build-status-check.yml
  .github/workflows/preview-release.yml
  .github/workflows/unit-testing-status-check.yml
  CICD.sln
  CICD.sln.DotSettings
  CICD/App.cs
  CICD/CICD.Release.Preview.cs
  CICD/CICD.Release.Production.cs
  CICD/CICD.Requirements.cs
  CICD/CICD.csproj
  CICD/ExtensionMethods.cs
  CICD/HtmlRegex.cs
  CICD/MarkDownRegex.cs
  CICD/Services/HtmlToMarkDownService.cs
  CICD/Services/Interfaces/IHtmlToMarkDownService.cs
  CICD/Services/Interfaces/IReadMeService.cs
  CICD/Services/ReadMeService.cs
  CICD/Services/ReadmeService.cs
  CICD/WorkflowTemplates/hotfix-pr-status-check.yml
  CICD/WorkflowTemplates/prev-feature-pr-status-check.yml
  CICD/WorkflowTemplates/prev-release-pr-status-check.yml
  CICD/WorkflowTemplates/prod-release-pr-status-check.yml
  CICD/WorkflowTemplates/unit-test-pr-status-check.yml
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.19.md
  Testing/.editorconfig
  Testing/CICDIntegrationTests/CICDIntegrationTests.csproj
  Testing/CICDIntegrationTests/Helpers/TestData.cs
  Testing/CICDIntegrationTests/ReadMeServiceIntegrationTests.cs
  Testing/CICDIntegrationTests/TestData/readme-expected.md
  Testing/CICDIntegrationTests/TestData/readme.md
  Testing/CICDIntegrationTests/stylecop.json
  Testing/CICDTests/ExtensionMethodsTests.cs
  Testing/CICDTests/Services/HtmlToMarkdownServiceTests.cs
  Testing/CICDTests/Services/ReadMeServiceTests.cs
  Testing/CICDTests/Services/ReadmeServiceTests.cs
  Testing/CICDTests/Services/SolutionServiceTests.cs
Labels: 🚀Preview Release

#188 🐛Cannot use CICD
  CICD/Services/ReadMeService.cs
Labels: high priority, preview, 🐛bug

#189 🚀Preview Release
  .vscode/release-notes.code-snippets
  CICD/CICD.csproj
  CICD/Services/ReadMeService.cs
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.20.md
  Testing/CICDIntegrationTests/CICDIntegrationTests.csproj
  Testing/CICDTests/CICDTests.csproj
  Testing/CICDTests/ExtensionMethodsTests.cs
  Testing/CICDTests/Helpers/ObjectFactory.cs
Labels: 🚀Preview Release
