Repository KinsonDigital/CICD, pull requests merged in 2023-04, with the labels that each got.

#195 🚧Fix preview release bug
  .run/DebugTask.run.xml
  .run/PrevRelease - Release Checks Only(False).run.xml
  .run/PrevRelease - Release Checks Only(True).run.xml
  .run/PrevRelease - Skip Twitter Anouncement.run.xml
  .run/PrevRelease - Twitter Secrets.run.xml
  .run/ProdRelease - Release Checks Only(False).run.xml
  .run/ProdRelease - Release Checks Only(True).run.xml
  CICD/App.cs
  CICD/Services/ReadMeService.cs
Labels: high priority, preview, 🐛bug

#193 🚧Setup codecov
  CICD.sln
  README.md
  codecov.yml
Labels: low priority, preview, tech debt

#196 🚧Update action in preview release workflow
  .github/workflows/preview-release.yml
Labels: high priority, preview, ♻️cicd

#202 🚀Preview Release
  CICD/CICD.csproj
  CICD/Services/Interfaces/ITwitterService.cs
  CICD/Services/ReleaseTweetService.cs
  CICD/Services/TwitterService.cs
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.22.md
  Testing/CICDTests/Services/TweetServiceTests.cs
  Testing/CICDTests/Services/TwitterServiceTests.cs
Labels: 🚀Preview Release
